<ion-header>
  <ion-navbar>
    <ion-title>
      <img [src]="logo">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button full (click)="initLightSensor()">LIGHT</button>
  <button ion-button full (click)="initOrientationSensor()">ORIENTATION</button>
  <button ion-button full (click)="initATemperatureSensor()">AMBIENT_TEMPERATURE</button>
  <button ion-button full (click)="initProximitySensor()">PROXIMITY</button>
  <button ion-button full (click)="initAccelerometerSensor()">ACCELEROMETER</button>
  <button ion-button full (click)="initBatteryStatus()">BAT STATUS</button>
  <button ion-button full (click)="initGeolocation()">GEOLOCATION</button>

  <ion-card *ngIf="model.data">

    <ion-card-header>Valor del Sensor {{model.Name}}</ion-card-header>
    
    <ion-list [hidden]="model.Name == 'LIGHT' || model.Name == 'AMBIENT_TEMPERATURE' || model.Name == 'PROXIMITY' || model.Name == 'Geolocation' || model.Name == 'Battery'">
      <p style="font-size: 16px;font-weight: bold; color:blue">X: {{model.data[0] | number}}</p>
      <p style="font-size: 16px;font-weight: bold; color:blue">Y: {{model.data[1] | number}}</p>
      <p style="font-size: 16px;font-weight: bold; color:blue">Z: {{model.data[2] | number}}</p>
    </ion-list>

    <ion-list [hidden]="model.Name == 'ORIENTATION' || model.Name == 'ACCELEROMETER' || model.Name == 'Geolocation' || model.Name == 'Battery'">
      <p style="font-size: 16px;font-weight: bold; color:blue">{{model.data[0]}} : {{model.data[1] | number}}</p>
    </ion-list>

    <!-- <ion-list [hidden]="!model.data.Celcius">
      <p style="font-size: 16px;font-weight: bold; color:blue">{{model.data.Celcius | number}}</p>
    </ion-list>

    <ion-list [hidden]="!model.data.Proximidad">
      <p style="font-size: 16px;font-weight: bold; color:blue">{{model.data.Proximidad | number}}</p>
    </ion-list> -->

    <ion-list [hidden]="model.Name == 'LIGHT' || model.Name == 'AMBIENT_TEMPERATURE' || model.Name == 'PROXIMITY' || model.Name == 'ORIENTATION' || model.Name == 'ACCELEROMETER' || model.Name == 'Battery'">
      <p style="font-size: 16px;font-weight: bold; color:blue">Latitud: {{model.data.Latitud}}</p>
      <p style="font-size: 16px;font-weight: bold; color:blue">Longitud: {{model.data.Longitud}}</p>
    </ion-list>

    <ion-list [hidden]="model.Name == 'LIGHT' || model.Name == 'AMBIENT_TEMPERATURE' || model.Name == 'PROXIMITY' || model.Name == 'ORIENTATION' || model.Name == 'ACCELEROMETER' || model.Name == 'Geolocation'">
      <p style="font-size: 16px;font-weight: bold; color:blue">Carga: {{model.data.Nivel}}</p>
      <p style="font-size: 16px;font-weight: bold; color:blue">Enchufado: {{model.data.Enchufado}}</p>
    </ion-list>
    
    <!-- <ion-item *ngIf="model.data.Latitud" >
      <p style="font-size: 16px;font-weight: bold; color:blue">Latitud: {{model.data.Latitud}}</p>
    </ion-item>
    <ion-item *ngIf="model.data.Longitud" >
        <p style="font-size: 16px;font-weight: bold; color:blue">Longitud: {{model.data.Longitud}}</p>
    </ion-item> -->
    
  </ion-card>
  <!-- BATERÍA -->
  <!-- <ion-card *ngIf="stat">

    <ion-card-header>Batería</ion-card-header>
    
      <ion-list>
        <p style="font-size: 16px;font-weight: bold; color:blue">Carga: {{stat.level}}%</p>
      </ion-list>
      <ion-list>
          <p style="font-size: 16px;font-weight: bold; color:blue">Enchufado: {{stat.isPlugged}}</p>
      </ion-list>
    
  </ion-card> -->
  <!-- COORDENADAS -->
  <!-- <ion-card *ngIf="model.data.Longitud != undefined">

    <ion-card-header>Geolocalización</ion-card-header>
  
    <ion-list>
      <p style="font-size: 16px;font-weight: bold; color:blue">Latitud: {{model.data.Latitud}}</p>
    </ion-list>
    <ion-list>
        <p style="font-size: 16px;font-weight: bold; color:blue">Longitud: {{model.data.Longitud}}</p>
    </ion-list>
  
</ion-card> -->
</ion-content>
